body {
    background-color: black;
    color : white;
}

.head_div
{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: rgb(112, 107, 107);
}

.main_logo
{
    width:560px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 70px;
}

.ss
{
    Clear: both;
}

#zegar
{
    float: left;
    width:560px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    font-size: 70px;
}

nav
{
    background-color: rgb(199, 111, 38);
    text-align: center;
}

.stick
{
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu
{
    list-style: none;
    margin: 0;
    padding: 10px;
    font-size: 50px;
    height: 100px;
    line-height: 200%;
    display: inline-block;
}

.menu > li
{
    float: left;
    width: 400px;
    border-right: 3px dashed rgb(243, 60, 4);
}

.menu > li:first-child
{
    border-left: 3px dashed rgb(243, 60, 4);
}

.menu a
{
    color : white;
    text-decoration: none;
}


.menu > li:hover
{
    background-color: rgb(255, 231, 199);
}

.menu >li:hover > a
{
    color : rgb(253, 194, 0);
    opacity: 0.5;
}

.menu > li > ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

.menu > li > ul > li
{
    background-color:rgb(216, 204, 169) ;
    position: relative;
    z-index: 100;
    border-top: 3px dashed red;
}

.menu > li > ul > li:last-child
{

    border-bottom: 3px dashed red;
}

.menu > li > ul > li:hover
{
    background-color: rgb(163, 89, 29);
}

.menu > li > ul > li:hover > a
{
    color : rgb(253, 255, 144);
}

.menu > li:hover > ul
{
    display: block;
}

.zdj_main
{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: rgb(172, 157, 139);
}