body {
    margin:0;
    background-color: rgb(187, 176, 160);
    color : white;
    min-height: 100vh;
}

.head_div
{
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    width: 100%;
    background-color: rgb(112, 107, 107);
}



.ss
{
    Clear: both;
}

/* ################## ustawienie 1 #########################*/

@media (min-width: 10px) and (max-width: 1265px)
{

    nav
    {
        background-color: rgb(199, 111, 38);
        font-family: 'Lato', sans-serif;
    }

    .stick
    {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .but
    {
        background-color: rgb(190, 118, 66);
        border: 0;
        cursor: pointer;
    }

    #ukryj-pokaz {
        display: none; 
    }

    .menu
    {
        list-style: none;
        margin: 0;
        padding: 10px;
        font-size: 150%;
        height: 100%;
        line-height: 200%;
        display: block;
    }

    .menu > li
    {
        width: 400px;
    }

    .menu a {
        color: white;
        text-decoration: none; /* Usunięcie domyślnego podkreślenia linków */
        display: block; /* Aby cała zawartość była klikalna */
    }
    
    .menu a:hover {
        color : rgba(196, 130, 9, 0.966)!important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }

    .menu > li:hover
    {
        background-color: rgb(255, 231, 199);
    }

    .menu >li:hover > a
    {
        color : rgb(253, 194, 0);
        opacity: 0.5;
    }

    .menu > li > ul 
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
    }

    .menu > li > ul > li
    {
        background-color:rgb(216, 204, 169) ;
        position: relative;
        z-index: 100;
        border-top: 3px dashed red;
    }

    .menu > li > ul > li:last-child
    {

        border-bottom: 3px dashed red;
    }

    .menu > li > ul > li:hover
    {
        background-color: rgb(163, 89, 29);
    }

    .menu > li > ul > li:hover > a
    {
        color : rgb(253, 255, 144);
    }

    .menu > li:hover > ul
    {
        display: block;
    }

    .main_logo
    {
        margin: auto;
        width:100%;
        text-align: center;
        font-size: 400%;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }


    #zegar
    {
        margin: auto;
        width:100%;
        text-align: center;
        font-size: 400%;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .art
    {
    display: grid;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
    top:0;
    max-width: 1700px;
    min-height: 100vh;
    background-color: rgb(172, 157, 139);
    }
    .zdj_main
    {
        padding: 30px;
        margin:auto;
    }

    .zdj_main img
    {
        border-radius: 10px;
        max-width:100%;
        max-height:100%;
    }

    .text
    {
        font-family: 'Lato', sans-serif;
        padding: 30px;
        font-size: 190%;
    }

    .text h1
    {
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .text p
    {
        text-align: center;
        font-size: 120%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        font-family: 'Josefin Sans', sans-serif;
    }

    .linki
    {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
    }

    .git
    {
        border-radius: 20px;
        float: left;
        width: 45%;
        height: 200px;
        background-color:rgb(23, 22, 87);
    }
    .whatsupp
    {
        border-radius: 20px;
        float: left;
        width: 45%;
        height: 200px;
        margin-left:15px; 
        background-color:rgb(11, 136, 17);
    }
    .form
    {
        margin-left: 8%;
        margin-bottom: 70px;
        font-family: 'Lato', sans-serif;
        width: 80%;
        height: 80%;
        border:3px solid rgb(190, 118, 66);
        border-radius:3%;
        background-color: rgb(187, 176, 160); 
        font-size: 100;
        
    }

    .dane {
        font-style: italic;
        float: left;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .opcje
    {
        margin-top: 2.5%;
        margin-left: 5%;
        float: left;
        width: 40%;
    }
    
    .form-group {
        margin-top: 1% ;
        margin-left: 4%;
    }

    .email
    {
        margin-top: 2%;
        margin-left: 4%;
    }

    .wia
    {
        width: 190%;
        margin-top: 1% ;
        margin-left: 4%;
    }

    #wi{
        width: 100%;
        max-width: 650px; 
        height: 60px; 
    }

    .bu input[type="submit"]
    {
        font-family: 'Lato', sans-serif;
        color:white;
        background-color: rgb(112, 107, 107);
        width: 30%;
        margin-top: 1% ;
        margin-left: 4%; 
        border-radius: 5px; /
    }


    .icon-whatsapp
    {
        font-size:70% !important;
        margin: auto;
    }

    .icon-github-squared
    {
        font-size:70% !important;
        margin-top: 1000px !important;
    }

}

/* ################## ustawienie 2 #########################*/

@media (min-width: 1265px) {

        nav
    {
        margin: 0;
        background-color: rgb(199, 111, 38);
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    .stick
    {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .but
    {
        display: none;
    }
    #ukryj-pokaz 
    {
    }


    .menu
    {
        margin: 0;
        list-style: none;
        margin: 0;
        padding: 10px;
        font-size: 50px;
        height: 100px;
        line-height: 200%;
        display: inline-block;
    }

    .menu > li
    {
        float: left;
        width: 400px;
        border-right: 3px dashed rgb(243, 60, 4);
    }

    .menu > li:first-child
    {
        border-left: 3px dashed rgb(243, 60, 4);
    }

    .menu a {
        color: white;
        text-decoration: none; /* Usunięcie domyślnego podkreślenia linków */
        display: block;
    }
    
    .menu a:hover {
        color : rgba(196, 130, 9, 0.966)!important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }

    .menu > li:hover
    {
        background-color: rgb(255, 231, 199);
    }

    .menu >li:hover > a
    {
        color : rgb(253, 194, 0);
        opacity: 0.5;
    }

    .menu > li > ul 
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
    }

    .menu > li > ul > li
    {
        background-color:rgb(216, 204, 169) ;
        position: relative;
        z-index: 100;
        border-top: 3px dashed red;
    }

    .menu > li > ul > li:last-child
    {

        border-bottom: 3px dashed red;
    }

    .menu > li > ul > li:hover
    {
        background-color: rgb(163, 89, 29);
    }

    .menu > li > ul > li:hover > a
    {
        color : rgb(253, 255, 144);
    }

    .menu > li:hover > ul
    {
        display: block;
    }

    .main_logo
    {
        width:50%;
        float: left;
        font-size: 70px;
        text-indent: 40px;
        font-family: 'Josefin Sans', sans-serif;
        padding-top: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    #zegar
    {
        float: left;
        width:48%;
        text-align: right;
        font-size: 70px;
        padding-right: 20px;
        font-family: 'Josefin Sans', sans-serif;
        padding-top: 15px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    }

    .art
    {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-rows: repeat(2,minmax(0,600px));
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
    top:0;
    max-width: 1700px;
    min-height: 100vh;
    background-color: rgb(172, 157, 139);
    }
    .zdj_main
    {
        padding: 30px;
    }

    .zdj_main img
    {
        border-radius: 10px;
        max-width:100%;
        max-height:100%;
        height:auto;
        width:auto;
    }

    .text
    {
        padding: 30px;
        font-size: 180%;
        font-family: 'Lato', sans-serif;
    }

    .text h1
    {
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .text p
    {
        text-align: center;
        font-size: 120%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        font-family: 'Josefin Sans', sans-serif;
    }

    .linki
    {
        padding-left: 50px;
        padding-right: 110px;
        padding-bottom: 30px;
    }

    .git
    {
        border-radius: 20px;
        float: left;
        width: 48%;
        height: 50%;
        background-color:rgb(23, 22, 87);
    }
    .whatsupp
    {
        border-radius: 20px;
        float: left;
        width: 48%;
        height: 50%;
        margin-left:15px; 
        background-color:rgb(11, 136, 17);
    }
    .form
    {
        margin-left: 8%;
        font-family: 'Lato', sans-serif;
        width: 80%;
        height: 50%;
        border:3px solid rgb(190, 118, 66);
        border-radius:3%;
        background-color: rgb(187, 176, 160); 
        font-size: 100;
        
    }

    .dane {
        font-style: italic;
        float: left;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .opcje
    {
        margin-top: 2.5%;
        margin-left: 5%;
        float: left;
        width: 40%;
    }
    
    .form-group {
        margin-top: 1% ;
        margin-left: 4%;
    }

    .email
    {
        margin-top: 2%;
        margin-left: 4%;
    }

    .wia
    {
        width: 190%;
        margin-top: 1% ;
        margin-left: 4%;
    }

    #wi{
        width: 100%;
        max-width: 650px; 
        height: 60px; 
    }

    .bu input[type="submit"]
    {
        font-family: 'Lato', sans-serif;
        color:white;
        background-color: rgb(112, 107, 107);
        width: 30%;
        margin-top: 1% ;
        margin-left: 4%; 
        border-radius: 5px; /
    }




}



.foot
{
    margin: auto;
    width: 100%;
    height: 60px;
    background-color: rgb(116, 70, 18);
    text-align: center;
    font-size: 150%;
}
