body {
    background-color: rgb(187, 176, 160);
    color : white;
    min-height: 100vh;
    margin:0px;
}

.head_div
{
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    width: 100%;
    background-color: rgb(112, 107, 107);
}

.ss
{
    Clear: both;
}

/* ################## ustawienie 1 #########################*/

@media (min-width: 10px) and (max-width: 1265px)
{

    nav
    {
        background-color: rgb(199, 111, 38);
        font-family: 'Lato', sans-serif;
    }

    .stick
    {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .but
    {
        background-color: rgb(190, 118, 66);
        border: 0;
        cursor: pointer;
    }

    #ukryj-pokaz {
        display: none; 
    }

    .menu
    {
        list-style: none;
        margin: 0;
        padding: 10px;
        font-size: 150%;
        height: 100%;
        line-height: 200%;
        display: block;
    }

    .menu > li
    {
        width: 400px;
    }

    .menu a {
        color: white;
        text-decoration: none; /* Usunięcie domyślnego podkreślenia linków */
        display: block; /* Aby cała zawartość była klikalna */
    }
    
    .menu a:hover {
        color : rgba(196, 130, 9, 0.966)!important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }

    .menu > li:hover
    {
        background-color: rgb(255, 231, 199);
    }

    .menu >li:hover > a
    {
        color : rgb(253, 194, 0);
        opacity: 0.5;
    }

    .menu > li > ul 
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
    }

    .menu > li > ul > li
    {
        background-color:rgb(216, 204, 169) ;
        position: relative;
        z-index: 100;
        border-top: 3px dashed red;
    }

    .menu > li > ul > li:last-child
    {

        border-bottom: 3px dashed red;
    }

    .menu > li > ul > li:hover
    {
        background-color: rgb(163, 89, 29);
    }

    .menu > li > ul > li:hover > a
    {
        color : rgb(253, 255, 144);
    }

    .menu > li:hover > ul
    {
        display: block;
    }

    .main_logo
    {
        margin: auto;
        width:100%;
        text-align: center;
        font-size: 70px;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }


    #zegar
    {
        margin: auto;
        width:100%;
        text-align: center;
        font-size: 70px;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .art
    {
    display: grid;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
    top:0;
    max-width: 1700px;
    min-height: 100vh;
    background-color: rgb(172, 157, 139);
    }
    
    .home_but
    {
        position: fixed;
        bottom: 20px; /* odległość od dolnej krawędzi ekranu */
        right: 20px; /* odległość od prawej krawędzi ekranu */
        color: #fff; 
        padding: 10px 20px; /* wewnętrzne marginesy przycisku */
        border: none;
        border-radius: 5px; /* zaokrąglenie narożników */
        text-decoration: none; /* usunięcie domyślnego podkreślenia linku */
        background-color: rgb(40, 128, 98);
        z-index: 9999;
    }

    /* Styl dla mapy */
    .map {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    height: 70%;
    }

    .map > img
    {
        margin-left: auto;
        margin-right: auto;
        width: 100%; /* Rozciągnięcie mapy na szerokość ekranu */
        height: 100%;
        position: absolute;
    }

      /* Styl dla pinezek */
    .pin {
        position: absolute;
        width: 1.5%;
        height: 2%;
        background-color: red; /* Kolor pinezki */
        border-radius: 50%; /* Zaokrąglenie pinezki */
        cursor: pointer;
    }
  
      /* Styl dla okienka z filmem */
    .video-popup {
        display: none;
        position: fixed;
        top: 50%; /* Środek ekranu w pionie */
        left: 50%; /* Środek ekranu w poziomie */
        transform: translate(-50%, -50%);
        max-width: 90%; /* Maksymalna szerokość okienka z filmem */
        max-height: 90%; /* Maksymalna wysokość okienka z filmem */
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        overflow: auto;
    }
  
      /* Przycisk zamknięcia dla okienka z filmem */
    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

/* ################## ustawienie 2 #########################*/

@media (min-width: 1265px) {

        nav
    {
        margin: 0;
        background-color: rgb(199, 111, 38);
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    .stick
    {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .but
    {
        display: none;
    }
    #ukryj-pokaz 
    {
    }


    .menu
    {
        margin: 0;
        list-style: none;
        margin: 0;
        padding: 10px;
        font-size: 50px;
        height: 100px;
        line-height: 200%;
        display: inline-block;
    }

    .menu > li
    {
        float: left;
        width: 400px;
        border-right: 3px dashed rgb(243, 60, 4);
    }

    .menu > li:first-child
    {
        border-left: 3px dashed rgb(243, 60, 4);
    }

    .menu a {
        color: white;
        text-decoration: none; /* Usunięcie domyślnego podkreślenia linków */
        display: block; /* Aby cała zawartość była klikalna */
    }
    
    .menu a:hover {
        color : rgba(196, 130, 9, 0.966)!important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }


    .menu > li:hover
    {
        background-color: rgb(255, 231, 199);
    }

    .menu >li:hover > a
    {
        color : rgb(253, 194, 0);
        opacity: 0.5;
    }

    .menu > li > ul 
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
    }

    .menu > li > ul > li
    {
        background-color:rgb(216, 204, 169) ;
        position: relative;
        z-index: 100;
        border-top: 3px dashed red;
    }

    .menu > li > ul > li:last-child
    {

        border-bottom: 3px dashed red;
    }

    .menu > li > ul > li:hover
    {
        background-color: rgb(163, 89, 29);
    }

    .menu > li > ul > li:hover > a
    {
        color : rgb(253, 255, 144);
    }

    .menu > li:hover > ul
    {
        display: block;
    }

    .main_logo
    {
        width:50%;
        float: left;
        font-size: 70px;
        text-indent: 40px;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        padding-top: 10px;
    }

    #zegar
    {
        float: left;
        width:48%;
        text-align: right;
        font-size: 70px;
        padding-right: 20px;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        padding-top: 15px;

    }

    .art
    {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        top:0;
        max-width: 1700px;
        min-height: 100vh;
        background-color: rgb(172, 157, 139);
    }

    .home_but
    {
        position: fixed;
        bottom: 20px; /* odległość od dolnej krawędzi ekranu */
        right: 20px; /* odległość od prawej krawędzi ekranu */
        color: #fff; 
        padding: 10px 20px; /* wewnętrzne marginesy przycisku */
        border: none;
        border-radius: 5px; /* zaokrąglenie narożników */
        text-decoration: none; /* usunięcie domyślnego podkreślenia linku */
        background-color: rgb(40, 128, 98);
        z-index: 9999;
    }

    .map {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    }

    .map > img
    {
        margin-left: auto;
        margin-right: auto;
        width: 100%; 
        height: 100%;
        position: absolute;
    }

    .pin {
        position: absolute;
        width: 1.5%;
        height: 2%;
        background-color: red; 
        border-radius: 50%;
        cursor: pointer;
    }
  
    .video-popup {
        display: none;
        position: fixed;
        top: 50%; /* Środek ekranu w pionie */
        left: 50%; /* Środek ekranu w poziomie */
        transform: translate(-50%, -50%);
        max-width: 90%; 
        max-height: 90%; 
        background-color: rgb(187, 176, 160);
        border: 3px solid rgb(199, 111, 38);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 3%;
        padding: 10px;
        overflow: auto;
    }
  

    .close-button {
        font-family: 'Josefin Sans', sans-serif;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        border: 2px solid #ffffff;
        background-color: rgb(199, 111, 38);
    }
    

}



.foot
{
    margin: auto;
    width: 100%;
    height: 60px;
    background-color: rgb(116, 70, 18);
    text-align: center;
    font-size: 150%;
}
