
.icon-menu-outline:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-mail-1:before { content: '\e803'; } /* '' */
.icon-trophy:before { content: '\e804'; } /* '' */
.icon-up-big:before { content: '\e805'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-town-hall:before { content: '\e83c'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
